<?php

/*
    This file is part of AXE Ninja.
    https://github.com/axerunners/axeninja-ctl
    AXE Ninja is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    AXE Ninja is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */

// MySQL access, user needs write access to AXE Ninja Database cmd_twitter table
DEFINE('DMNIRCMYSQLUSER','axeninja-irc');
DEFINE('DMNIRCMYSQLPASS','randompassword');
DEFINE('DMNIRCMYSQLDATABASE','axeninja');
DEFINE('DMNIRCMYSQLHOST','localhost');

// Define Twitter API keys (see tweet-php README.md)
DEFINE('DMNIRC_TWITTER_CONSUMER_KEY','xxx');
DEFINE('DMNIRC_TWITTER_CONSUMER_SECRET','xxx');
DEFINE('DMNIRC_TWITTER_ACCESS_TOKEN','xxx');
DEFINE('DMNIRC_TWITTER_ACCESS_TOKEN_SECRET','xxx');

// Twitter user to follow
DEFINE('DMNIRC_TWITTER_SCREENNAME','@axerunners');

?>